# Target directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
